<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="historyDataDirectory" value="C:\Users\tchouina\Personal\InternetMonitor\data" />
    <add key="historyDataFilePostfix" value="_internet_history_data.bson" />
    <add key="sendTo" value="manajean.84@gmail.com"/>
    <add key="sendCc" value="tchou84@yahoo.com"/>
    <add key="sendBcc" value=""/>
    <add key="isTest" value="false"/>
    <add key="subject" value="Internet History for {0}"/>
    <add key="from" value="Timothy.Chouinard@emp-corp.com"/>
    <add key="developerEmail" value="tchou84@yahoo.com"/>
  </appSettings>
</configuration>