<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="IsTest" value="true" />
    <add key="BaseDir" value="C:\\Users\\tchouina\\Personal\\InternetMonitor" />
    <add key="DataDir" value="data" />
    <add key="TestDataDir" value="dataForTesting" />
    <add key="DataFilePostfix" value="_internet_history_data.bson" />
    <add key="InputFilesDir" value="files" />
    <add key="AlertItemsFileName" value="alert_words.txt" />
    <add key="IgnoreItemsFileName" value="ignore_items.txt" />
  </appSettings>
</configuration>